<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @rank.title %>
</p>

<p>
  <strong>Order:</strong>
  <%= @rank.order %>
</p>

<%= link_to 'Edit', edit_rank_path(@rank) %> |
<%= link_to 'Back', ranks_path %>
